body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: black;
}

.tipo-veiculo a {
    margin-right: 10px;
    text-decoration: none;
    color: green;
}

.form-alugado {
    margin-bottom: 20px;
    color: white;
}

.form-alugado ::placeholder {
    color: black;
}

.form-financiado {
    color:white;
}

.form-financiado ::placeholder {
    color: black;
}

.btn-calcular {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-calcular:hover {
    background-color: orange;
}

.mensagem {
    margin-top: 20px;
    font-weight: bold;
    color: white;
}

h2,
h3 {
    color: yellowgreen;
}
