body {
    background-color: black;
}

body h2 {
    color: white;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
}

body a {
   background-color: black;
   color: white;
   text-decoration: none;
   text-align: center;
   margin: 0 auto;
   margin-top: 90px; 
   display: inline-block; /* Faz com que o link respeite o margin auto */
   padding: 10px 20px;
   border: 2px solid white; /* Para melhorar a visibilidade do botão */
   margin-right: 60px;
   margin-left: 190px;
}

body h3, 
label {
    color: white;
}

input {
    color: black;
}

button {
    padding: 8px;
}

.mensagem {
    color: white;
}